body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.valo:hover {
    background-color: red;
    transition: 1s;
}
.gg{
    align-items: center;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #5a0096;
    background: transparent;
    color:#000f96;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span {
    background: #960000;
    height: 100%;
    width: 0;
    border-radius: 23px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border-radius: none;
}
a {
    color: #960057;
}
.content>h1{
    color: #c505ff;
}
.n1{
    text-decoration: none;
}