body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.valo:hover {
    background-color: red;
    transition: 1s;
}
.gg{
    margin: 20px;
}
/* a:active{
    background-size: 200px ;
} */
.konten{
    text-align: center;
    margin-left: -20%;
}
.btnf{
    border: 1px solid rgb(226, 226, 78);
    background-color: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "monstserrat";
    cursor: pointer;
    margin: 10px;
    transition: 0,7s;
    position: relative;
    overflow: hidden;
}
.btn1{
    color:rgb(131, 41, 75);
}
.btn1:hover{
    color: blue;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: rgb(255, 0, 0);
    z-index: -1;
    transition: 0,7s;
}
.btn1::before{
    bottom: 0;
    border-radius:50% 50% 0 0;
}
.btn1:hover::before{
    height: 100%;
}